.footer {
    background-color: $color-light1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rs-icon {
    background-image: url(../assets/icons/rs-logo.svg);
    width: 150px;
    height: 50px;
}
