@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  color: #26453E;
  background-color: #E0FFFF;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: #26453E;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

a:hover {
  color: limegreen;
}

.ico,
.img {
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-rows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn {
  height: 4rem;
  padding: 0 15px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: limegreen;
  border: 2px solid limegreen;
}

.btn__colored {
  background-color: #0D98BA;
  color: white;
  border: 2px solid #0D98BA;
}

.btn__bordered {
  background-color: white;
  border: 2px solid #0D98BA;
  color: #0D98BA;
}

.account-btns {
  gap: 10px;
}

.footer {
  background-color: #A6FFCF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rs-icon {
  background-image: url(../assets/icons/rs-logo.svg);
  width: 150px;
  height: 50px;
}

.header {
  background-color: #A6FFCF;
}

.header__wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__logo_ico {
  background-image: url(../assets/icons/logo-header.svg);
  width: 75px;
  height: 75px;
}

.switcher-theme {
  padding-left: 30px;
  padding-right: 15px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  padding: 0 15px;
}

.theme__light {
  background-image: url(../assets/icons/sun.svg);
  width: 35px;
  height: 35px;
  display: none;
}

.theme__dark {
  background-image: url(../assets/icons/moon.svg);
  width: 30px;
  height: 30px;
}

.header__lang {
  display: flex;
}

.header__radio-btn > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.header__radio-btn > span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
  color: #26453E;
  cursor: pointer;
  transition: 0.3s;
}

.header__radio-btn > span:hover {
  color: limegreen;
}

.header__radio-btn > input:checked + span {
  color: blue;
}

.sound {
  padding-right: 30px;
}

.loud {
  background-image: url(../assets/icons/loud.svg);
  width: 35px;
  height: 35px;
}

.mute {
  background-image: url(../assets/icons/mute.svg);
  width: 35px;
  height: 35px;
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.main__map {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  border: black 1px solid;
}

.main__wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
}

.promo {
  width: 950px;
}

.main__title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main__text {
  padding-bottom: 20px;
}

.menu {
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 30px 0;
  justify-content: center;
}

.menu__item {
  width: 300px;
  height: 300px;
  background: #6BCBD1;
}

.modal {
  background-color: rgba(28, 28, 28, 0.822);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 5;
}

.form-wrap {
  width: 50%;
  max-width: 400px;
  height: 60vh;
  background-color: white;
  position: absolute;
  padding: 0 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}

.input-wrap {
  display: flex;
  width: 80%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form-wrap__label {
  width: 60px;
}

.form-wrap__input {
  height: 30px;
  padding-left: 10px;
}

.form-wrap__greetings {
  text-align: center;
  margin-bottom: 20px;
}

.form-wrap__text {
  text-align: center;
  margin-bottom: 30px;
}

.form-wrap > .btn {
  margin-top: 30px;
}

#regions_div {
  width: 600px;
  height: 400px;
  align-self: center;
}

.gmnoprint {
  display: none;
}

#map {
  height: 100%;
}

.levels {
  position: absolute;
  top: 250px;
  right: 100px;
  display: flex;
  flex-flow: column;
  align-self: center;
}

.level__radio-btn {
  padding-bottom: 20px;
}

.level__radio-btn {
  color: #26453E;
  cursor: pointer;
  transition: 0.3s;
}

.level__radio-btn:hover {
  color: limegreen;
}

input:checked {
  color: limegreen;
}

.answers {
  width: 400px;
  height: 120px;
  background-color: #ADD8E6;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}

.answer {
  width: 40%;
  height: 40%;
  padding: 10px;
  border: 2px solid #26453E;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.answer:hover {
  background-color: #429E9D;
}/*# sourceMappingURL=global.css.map */