@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  color: #26453e;
  background-color: #e0ffff;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: #26453e;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

a:hover {
  color: orange;
}

.ico,
.img {
  background-size: contain;
  background-repeat: no-repeat;
}

.ico {
  cursor: pointer;
  transition: 0.3s;
}

.flex-rows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main {
  min-height: 80%;
}

.btn {
  height: 4rem;
  padding: 0 15px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: orange;
  border: 2px solid orange;
}

.btn__colored {
  background-color: #0d98ba;
  color: white;
  border: 2px solid #0d98ba;
}

.btn__bordered {
  width: 40%;
  height: 40%;
  background-color: #e0ffff;
  border: 2px solid #26453e;
  color: #26453e;
}

.account-btns {
  gap: 10px;
}

.btn__next {
  margin-top: 40px;
}

.btn__population {
  width: 40%;
  height: 40%;
  background-color: white;
  border: 2px solid #26453e;
  color: #26453e;
}

.btn__next:disabled,
.btn__check-population:disabled {
  background-color: lightgray;
  border: 2px solid gray;
  color: gray;
  cursor: auto;
}

.btn__right {
  background-color: rgba(0, 133, 63, 0.9);
  pointer-events: none;
}

.btn__wrong {
  background-color: rgba(227, 27, 35, 0.9);
  pointer-events: none;
}

.footer {
  background-color: #a6ffcf;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rs-icon {
  background-image: url(../assets/icons/rs-logo.svg);
  width: 150px;
  height: 50px;
}

.header {
  background-color: #a6ffcf;
}

.header__wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__logo_ico {
  background-image: url(../assets/icons/logo-header.svg);
  width: 75px;
  height: 75px;
}

.switcher-theme {
  padding-left: 30px;
  padding-right: 15px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  padding: 0 15px;
}

.theme__light {
  background-image: url(../assets/icons/sun.svg);
  width: 35px;
  height: 35px;
  display: none;
}

.theme__dark {
  background-image: url(../assets/icons/moon.svg);
  width: 30px;
  height: 30px;
}

.header__lang {
  display: flex;
}

.header__radio-btn > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.header__radio-btn > span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
  color: #26453e;
  cursor: pointer;
  transition: 0.3s;
}

.header__radio-btn > span:hover {
  color: orange;
}

.header__radio-btn > input:checked + span {
  color: blue;
}

.sound {
  padding-right: 30px;
}

.loud {
  background-image: url(../assets/icons/loud.svg);
  width: 35px;
  height: 35px;
}

.mute {
  background-image: url(../assets/icons/mute.svg);
  width: 35px;
  height: 35px;
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 40px;
}

.main__map {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  border: #26453e 1px solid;
}

.main__wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
}

.promo {
  width: 950px;
}

.main__title {
  padding-top: 10px;
  padding-bottom: 25px;
}

.main__text {
  padding-bottom: 20px;
}

.modal {
  background-color: rgba(28, 28, 28, 0.822);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 5;
}

.form-wrap {
  width: 50%;
  max-width: 400px;
  height: 60vh;
  background-color: white;
  position: absolute;
  padding: 0 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}

.input-wrap {
  display: flex;
  width: 80%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form-wrap__label {
  width: 60px;
}

.form-wrap__input {
  height: 30px;
  padding-left: 10px;
}

.form-wrap__greetings {
  text-align: center;
  margin-bottom: 20px;
}

.form-wrap__text {
  text-align: center;
  margin-bottom: 30px;
}

.form-wrap > .btn {
  margin-top: 30px;
}

#regions_div {
  width: 600px;
  height: 400px;
  align-self: center;
}

.gmnoprint {
  display: none;
}

#map {
  height: 100%;
}

.answers {
  width: 400px;
  height: 120px;
  background-color: #add8e6;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
}

.menu {
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 50px 0 130px;
  justify-content: center;
}

.menu__item {
  width: 215px;
  height: 250px;
  background: #add8e6;
  border-radius: 10px;
  text-align: center;
}

.main__rules {
  margin: 20px 0;
  line-height: 1.5;
}

.menu__quiz-cover {
  background-image: url(../assets/images/1.png);
  width: 120px;
  height: 112px;
}

.img-flag {
  width: 30%;
  height: 272px;
  border: 1px black solid;
  margin-top: 1%;
  background-repeat: no-repeat;
}

.right-world {
  color: green;
}

.wrong-world {
  color: red;
}/*# sourceMappingURL=global.css.map */