.main-user-info {
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

.main-user-info__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main-user-info__img-wrap {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #0d98ba;
}

.main-user-info__data-wrap {
    height: 200px;
    width: calc(100% - 300px);
    padding: 0 30px;
}

.records__title {
    margin-bottom: 20px;
}

.achievement__img-fire {
    width: 100px;
    height: 100px;
    background-image: url(../assets/images/fire.png);
    background-size: 100px 100px;
}

.achievement__range {
    pointer-events: none;
}