.img-flag {
    width: 30%;
    height: 272px;
    border: 1px black solid;
    margin-top: 1%;
    background-repeat: no-repeat;
}
.right-world{
    color: green;
}
.wrong-world{
    color: red;
}
