.img-flag {
    width: 20%;
    height: 169px;
    border: 1px black solid;
    margin-top: 1%;
    background-repeat: no-repeat;
}
.right-world {
    color: green;
    margin-top: 1%;
}
.wrong-world {
    color: red;
    margin-top: 1%;
}
