#regions_div {
    width: 600px;
    height: 400px;
    align-self: center;
}
.gmnoprint {
    display: none;
}
#map {
    height: 100%;
}

.answers {
    width: 400px;
    height: 120px;
    background-color: $color-light2;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.menu {
    row-gap: 20px;
    column-gap: 20px;
    padding: 50px 0 130px;
    justify-content: center;
}

.menu__item {
    width: 215px;
    height: 250px;
    background: $color-light2;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.main__rules {
    margin: 20px 0;
    line-height: 1.5;
}

.menu__quiz-cover {
    background-image: url(../assets/images/country-cover.png);
    width: 160px;
    height: 150px;
    border-radius: 5px;
}
