#regions_div {
    width: 600px;
    height: 400px;
    align-self: center;
}
.gmnoprint{
    display: none;
}
#map {
    height: 100%;
}
.levels {
    position: absolute;
    top: 250px;
    right: 100px;
    display: flex;
    flex-flow: column;
    align-self: center;
}
.level__radio-btn {
   padding-bottom: 20px;
}

.level__radio-btn {
    color: $color-dark1;
    cursor: pointer;
    transition: 0.3s;
}

.level__radio-btn:hover {
    color: $color-hover;
}
 input:checked {
    color: $color-hover;
}

.answers {
    width: 400px;
    height: 120px;
    background-color: $color-light2;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}

.answer {
   width: 40%;
   height: 40%;
   padding: 10px;
   border: 2px solid $color-dark1;
   border-radius: 5px;
   font-weight: bold;
   text-align: center;
   cursor: pointer;
   transition: 0.3s;
}

.answer:hover {
    background-color: $color-middle2;
}

.menu {
    row-gap: 20px;
    column-gap: 20px;
    padding: 30px 0 150px;
    justify-content: center;
}

.menu__item {
    width: 215px;
    height: 250px;
    background: $color-light2;
    border-radius: 10px;
    text-align: center;
}

