.geo-chart__block {
    width: 50%;
    height: 400px;
}
#regions_div {
    width: 600px;
    height: 400px;
    align-self: center;
    outline: 1px solid $color-dark1;
}
.gmnoprint {
    display: none;
}
#map {
    height: 100%;
}

.answers {
    width: 450px;
    height: 160px;
    background-color: $color-light2;
    border-radius: 5px;
    padding: 12px;
    margin-top: 30px;
}

.menu {
    justify-content: center;
    padding-top: 50px;
}

.menu__item {
    width: 210px;
    height: 270px;
    background: $color-light2;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 5px 5px $color-dark1;
}
.menu__item:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}
.main__rules {
    margin-bottom: 20px;
    line-height: 1.5;
}

.menu__quiz-cover {
    background-image: url(../assets/images/country-cover.png);
    width: 160px;
    height: 150px;
    border-radius: 5px;
}

@media (max-width: $content-small-width) {
    .answers {
        width: 430px;
        height: 140px;
    }
}

@media (max-width: $tablet-width) {
    .menu {
        padding-top: 10px;
    }
}
@media (max-width: $mobile-big-width) {
    #regions_div {
        width: 400px;
        height: 200px;
    }
    .answers {
        width: 400px;
        height: 130px;
        padding: 7px;
    }
}
@media (max-width: $mobile-small-width) {
    #regions_div {
        width: 280px;
        height: 140px;
    }
    .answers {
        width: 280px;
        height: 110px;
    }
}
