* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-weight: normal;
    color: $color-dark1;
    background-color: $color-light4;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

a {
    color: $color-dark1;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

a:hover {
    color: $color-hover;
}

.ico,
.img {
    background-size: contain;
    background-repeat: no-repeat;
}

.ico {
    cursor: pointer;
    transition: 0.3s;
}

.flex-rows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: $content-small-width) {
    a {
        font-size: 1.6rem;
    }
}
@media (max-width: $tablet-width) {
    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 1.6rem;
    }
}
@media (max-width: $mobile-big-width) {
    h1 {
        font-size: 2.2rem;
    }
}
