* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-weight: normal;
    color: $color-dark1;
}

p,
ul,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
h2 {
font-size: 3.4rem;
}

h3 {
    font-size: 2.4rem;
}
a {
    color: $color-dark1;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
a:hover {
    color: $color-hover;
}

.ico,
.img {
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-rows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}