.btn {
    height: 4rem;
    padding: 0 15px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    line-height: 2.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: $color-hover;
    border: 2px solid $color-hover;
}

.btn__colored {
    background-color: $color-dark3;
    color: $color-light4;
    border: 2px solid $color-dark3;
}


.btn__bordered {
    width: 40%;
    height: 40%;
    background-color: $color-light3;
    border: 2px solid $color-dark1;
    color: $color-dark1;
}

.account-btns {
    gap: 10px;
}

.btn__next {
    margin-top: 30px;
}
.btn__next:disabled {
    background-color: $color-disable1;
    border: 2px solid $color-disable2;
    color: $color-disable2;
    cursor: auto;
}