$color-dark1: #26453e;
$color-dark2: #008080;
$color-dark3: #0d98ba;

$color-middle1: #01579b;
$color-middle2: #429e9d;
$color-middle3: #48d1cc;
$color-middle4: #6bcbd1;

$color-light1: #a6ffcf;
$color-light2: #add8e6;
$color-light3: #e0ffff;
$color-light4: white;

$color-bright: blue;
$color-hover: orange;
$color-disable1: lightgray;
$color-disable2: gray;

$color-rightAnsw: rgba(0, 133, 63, 0.9);
$color-wrongAnsw: rgba(227, 27, 35, 0.9);

$content-width: 1280px;
$content-small-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 500px;
$mobile-small-width: 320px;
