$color-dark1: #26453E;
$color-dark2: #008080;
$color-dark3: #0D98BA;

$color-middle1: #01579B;
$color-middle2: #429E9D;
$color-middle3: #48D1CC;
$color-middle4: #6BCBD1;

$color-light1: #A6FFCF;
$color-light2: #ADD8E6;
$color-light3: #E0FFFF;
$color-light4: white;

$color-bright: blue;
$color-hover: orange;
$color-disable1: lightgray;
$color-disable2: gray;

$color-rightAnsw: #00853f;
$color-wrongAnsw: #e31b23;






